
body {
	background: #FFF0F5;
	font-family: Arial, sans-serif;
  color: #555555;
  margin: 0px;
}

article, header, nav, section, aside, footer, {
  box-sizing: border-box;
}

header{
  background-color: rgba(255,255,255,0.6);
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  padding: 60px 10px;
  vertical-align: middle;
  align-items: center;
  transition: 0.5s;
}

header.transform {
  background: rgba(255,255,255,0.9);
  padding: 10px;
}

.logo {
  display: inline;
  font-family: 'Dancing Script', cursive;
}

header nav {
  float: right;
}

@media(max-width: 768px){
  header nav {
    float: none;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 16px;
  padding-right: 20px;
}

nav ul {
  padding-left: 0;
}

.pic{
  max-height: 500px;
  overflow: hidden;
  background-color: white;
}

.pic img{
  height: auto;
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 100px;
}

article {
  width: 100%;
  float: left;
}

@media(min-width: 769px){
  article{
    max-width: 500px;
  }
}

section{
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

footer{
  border-color: darkmagenta;
}

aside {
  background-color: white;
  padding: : 10px;
  box-sizing: border-box;
}

aside{
  width: 200px;
  float: right;
  padding: 20px;
  border-radius: 10px;
}

@media(max-width: 768px) {
  aside{
    width: 100%;
  }
}

footer {
  clear: both;
  padding: 80px 0;
}

.copyright{
  font-size: 12px;
  text-align: center;
}

h2 {
	clear: both;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 5px 20px;
	background: #CC9999;	
	border-radius: 30px;
	color: #fff;
}

#gallery img {
  display: inline-block;
  border-radius: 12px;
  margin: 1px; 
}

#gallery img:hover {
	animation: wobble .5s  infinite;
}

@keyframes wobble {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

@media(min-width: 769px){
  #gallery .img1 {
    border-radius: 50% 50% 0 50%;
  }

  #gallery .img2 {
    border-radius: 50% 50% 50% 0;
  }

  #gallery .img3 {
    border-radius: 50% 0 50% 50%;
  }

  #gallery .img4 {
    border-radius: 0 50% 50% 50%;
  }
}


#contact img {
  width: 50px;
}

.pagetop {
	position: fixed;
	bottom: 16px;
	right: 16px;
	background-color: #FFB6C1;
}
